/* project css styles */

:root {
  --white-bg-color: #fff;
  --card-bg: #ccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  position: relative;
  width: 500px;
  height: 300px;
  margin: 0 auto;
  border: 1px solid var(--card-bg);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

/* card header */
.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #545862;
}

.card-header h2 {
  margin-right: 10px;
}

.header-icons {
  margin-left: auto;
}

.refresh-icon {
  width: 30px;
  height: 30px;
  right: 0;
}

/* card header END */

/* card body */
.card-body {
  margin-top: 10px;
}

/* card body END */

/* Input field   */
.add-item {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
}

.add-item input {
  width: 90%;
  border: none;
  outline: none;
  line-height: 50px;
  font-size: 20px;
}

.backspace-icon {
  width: 20px;
  margin-left: 10px;
}

/* Input field END   */

/* list items  */
.list-items {
  cursor: pointer;
  color: #424242;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
}

/* list items  END */

/* Input field   END */

.clear-completed {
  cursor: pointer;
  color: #424242;
  background-color: grey;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 100%;
  padding: 10px 20px;
  margin-bottom: -20px;
}

.clear-completed h5 {
  margin: 0;
}
